<!-- templates/footer.html -->
<footer class="bg-dark text-white p-3 mt-auto">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
        <p class="mb-0">© 2024 Todos los derechos reservados.</p>
        <p class="mb-0"> Desarollado por <a id="link_footer" href="https://gvielza.github.io/portafolio/" target="_blank" class="text-blue">Gionnelly Vielza</a> </p>
        </div>
            <nav>
            <a href="#" class="text-white mr-3">Política de Privacidad</a>

        </nav>
    </div>
</footer>

<style>
    .text-blue {
        color: cyan;
        text-decoration: none; /* Opcional: para eliminar el subrayado */
    }
    .text-blue:hover {
        text-decoration: underline; /* Opcional: para agregar un subrayado al pasar el cursor */
    }
</style>
