<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Inicio</title>
     <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .main-content {
            flex: 1;
        }
    </style>
</head>
<body>
{% include 'header.html' %}
<div class="container mt-5">
<h1>Inicio</h1>
<p>Este es el inicio de la aplicación.</p>

<a href="{{ url_for('productos') }}" class="d-block mb-2" target="_blank"> Productos de https://fakestoreapi.com/products</a>
<a href="{{ url_for('api') }}" class="d-block mb-2" target="_blank">API obtenida desde un archivo .py con una lista de diccionario</a>

<a href="{{ url_for('spotify') }}" class="d-block mb-2" target="_blank">Mis cantantes en Spotify</a>
    </div>
{% include 'footer.html' %}
</body>
</html>