<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">

    <title>Productos</title>
</head>
<body>
{% include 'header.html' %}
<div class="container" id="menu_productos">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1>Productos desde https://fakestoreapi.com/products</h1>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
    <div style="position: relative;">
        <img src="{{ url_for('static', filename='img/carro-vacio.png') }}" alt="Carrito" width="50" height="50" id="carrito-icono">
        <span id="cart-count" style="position: absolute; top: -5px; right: -5px; background: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 14px; display: none;">0</span>
    </div>
</div>

    </div>
</div>
<div class="container">


<div class="row">
{% for item in data %}
    <div class="col-md-4 mb-4">
                    <div class="card">
    <p>{{ item.title }} </p><p>Precio: {{ item.price }} </p>
<img src="{{ item.image }}" alt="{{ item.title }}" width="200" height="200" >
    <p>Cantidad: {{ item.rating.count }}</p>
                        <form action='' method="">
                            <input type="hidden" name="id" value="{{ item.id }}" id="id">
                            <input type="hidden" name="title" value="{{ item.title }}" id="title">
                            <input type="hidden" name="image" value="{{ item.image }}" id="image">
                            <input type="hidden" name="price" value="{{ item.price }}" id="price">
                            <input type="hidden" name="count" value="{{ item.rating.count }}" id="count">
                            <input type="submit" value="Agregar al carrito" id="boton_carrito" class="btn btn-primary">
                        </form>

   </div>
    </div>
{% endfor %}
    </div>
    </div>
{% include 'footer.html' %}
<script src="/static/js/codigo.js"></script>
</body>


</html>